<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Notes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="add-note">
    <ion-item class="input">
      <ion-textarea
        auto-grow
        placeholder="Write Something ..."
        [(ngModel)]="note"
      ></ion-textarea>
    </ion-item>

    <div class="add-btn">
      <ion-button fill="outline" expand="block" (click)="addNote()">
        <ion-icon name="add-outline"></ion-icon>&nbsp; Add
      </ion-button>
      <ion-button
        fill="outline"
        expand="block"
        (click)="deleteAll()"
        color="danger"
      >
        <ion-icon name="trash-outline"></ion-icon>&nbsp; Delete All Notes
      </ion-button>
    </div>
  </div>

  <div class="notes">
    <ion-list>
      <ion-item *ngFor="let note of notes, let i = index">
        <p>{{note.note}}</p>
        <ion-button (click)="deleteNote(i)" fill="clear" slot="end">
          <ion-icon name="trash-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
