.add-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 0 auto;
  width: 90%;
}

.add-btn {
  width: 90%;
}

.notes {
  width: 95%;
}
