.register-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.register-fields ion-button,
ion-item {
  width: 90%;
}

a {
  text-decoration: none;
}
